:root {
  --color-neutral-face-emoji-tools: #D293E4;
  --color-dropzone-bg: rgb(250, 250, 250);
  --color-dropzone-active-bg: rgb(240, 240, 240);
  --color-dropzone-border: rgb(240, 240, 240);
  --color-dropzone-active-border: rgb(230, 230, 230);
  --color-slack-info: #3aa3e3;
  --color-slack-success: #2ab27b;
  --color-slack-error: #cb5234;
  --color-slack-border: #e8e8e8;
  --color-text-gray: #616061;
}