@color-neutral-face-emoji-tools: #D293E4;
@color-dropzone-bg: rgb(250, 250, 250);
@color-dropzone-active-bg: rgb(240, 240, 240);
@color-dropzone-border: rgb(240, 240, 240);
@color-dropzone-active-border: rgb(230, 230, 230);
@color-slack-info: #3aa3e3;
@color-slack-success: #2ab27b;
@color-slack-error: #cb5234;
@color-slack-border: #e8e8e8;

.neutral-face-emoji-tools {
  border: @color-slack-border 1px solid;
  border-left: @color-neutral-face-emoji-tools 3px solid;
  margin: 0 0 25px 0;
  padding: 25px;
  background: white;
}

.nfet__uploader__heading__icon {
  margin: 0 5px 0 0;
  height: 1.25em;
  vertical-align: -25%;
}



.nfet__uploader__dropzone--active,
.nfet__uploader__dropzone:hover {
  background: @color-dropzone-active-bg;
  border-color: @color-dropzone-active-border;
}

.nfet__uploader__dropzone__content {
  margin: 15px;
}

.nfet__uploader__dropzone__input {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 100% !important;
  opacity: 0;
}

.nfet__uploader__uploads {
  font-size: 0.9rem;
  list-style: none;
  margin: 0;
}


